body {
  background-color: #B0FAC9;
  font-family: 'Cookie', cursive;
  font-size: 32px;
}

.columns {
  width: 33%;
  float: left;
  background-color: #FF4944;
}

.sidebar {
  width: 35%;
  float: right;
  background-color: #FF4944;
  margin-left: 10px;
}

h1 {
  font-family: 'Pacifico', cursive;
}
img {
  width: 60%;
  margin-left: 2%;
}
